# This file provides an overview of code owners in this repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# The default owners are automatically added as reviewers when you open a pull request unless different owners are specified in the file.

* @derberg @fmvilas @dalelane @smoya @char0n @asyncapi-bot-eve @GreenRover

/anypointmq/   @mboss37 @GeraldLoeffler
/ibmmq/        @rcoppen
/jms/          @rcoppen @SrfHead
/kafka/        @lbroudoux @dalelane
/googlepubsub/ @whitlockjc
/solace/       @damaru-inc @CameronRushton
/pulsar/       @VisualBean
/sns/          @dpwdec @iancooper
/sqs/          @dpwdec @iancooper
